
@use "layouts/footer";

@use "components/buscador";

@use "layouts/main";

@use "components/textos";

@use "utils/espaciados";

@use "layouts/header";

@use "utils/mixins";

@use "components/navbar";

@use "components/cards";

@use "layouts/footer-productos";

@use "layouts/informacion";

@use "layouts/contacto";

@use "layouts/nosotros";





body{
    background-color:#D3D3D3;
    padding-top: 40px;  
    margin: 0;
    font-family:sans-serif;
}










