@charset "UTF-8";
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.983);
  position: relative;
}
footer::after {
  display: block;
  text-align: center;
  content: "© Copyright JewelryStore-2025 Todos Los Derechos Reservados. Defensa de las y los consumidores para reclamos.";
  position: absolute;
  bottom: -10px;
  height: 45px;
  left: 0;
  width: 100%;
  background-color: gray;
}
@media (max-width: 480px) {
  footer {
    flex-direction: column;
    padding: 20px;
  }
  footer::after {
    font-size: 12px;
    bottom: -20px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 50px;
  }
}

.texto_footer,
.texto2_footer {
  font-family: sans-serif;
  font-size: 25px;
  color: ghostwhite;
}
@media (max-width: 480px) {
  .texto_footer,
  .texto2_footer {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .texto_footer,
  .texto2_footer {
    font-size: 20px;
  }
}

.textos_footer {
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 480px) {
  .textos_footer {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .textos_footer {
    gap: 8px;
  }
}

.imagenes_footer {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  gap: 10px;
}
.imagenes_footer img {
  width: 55px;
}
@media (max-width: 480px) {
  .imagenes_footer img {
    width: 40px;
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: ghostwhite;
}
@media (max-width: 480px) {
  .copyright {
    flex-direction: column;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .copyright {
    font-size: 14px;
    text-align: left;
  }
}

.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buscador input {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #cccccc;
  border-radius: 25px;
  width: 380px;
  max-width: 100%;
  box-sizing: border-box;
}
.buscador input::placeholder {
  color: #666666;
}
@media (max-width: 768px) {
  .buscador input {
    width: 300px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .buscador input {
    width: 250px;
    font-size: 16px;
    padding: 8px 15px;
  }
}

.lista_relojes {
  display: flex;
  padding: 400px;
}
@media (max-width: 768px) {
  .lista_relojes {
    padding: 200px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .lista_relojes {
    flex-direction: column;
    padding: 50px;
    gap: 20px;
  }
}

.Imagen_Principal {
  object-position: center;
  width: 2900px;
  max-width: 100%;
  max-height: 800px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .Imagen_Principal {
    width: 80%;
    max-height: 600px;
  }
}
@media (max-width: 480px) {
  .Imagen_Principal {
    width: 100%;
    border-radius: 10px;
    box-shadow: none;
  }
}

.banner-container {
  position: relative;
}

.banner-texto {
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-50%, 0%);
  color: #333333;
  font-size: 2rem;
  animation: moveBackAndForth 7s linear infinite;
}

@keyframes moveBackAndForth {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.card .reseña-comentario {
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.card .reseña-usuario {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(15, 12, 12, 0.1);
}

.texto_lista1,
.texto_lista2,
.texto_lista3 {
  font-family: sans-serif;
  font-size: 28px;
}
@media (max-width: 768px) {
  .texto_lista1,
  .texto_lista2,
  .texto_lista3 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .texto_lista1,
  .texto_lista2,
  .texto_lista3 {
    font-size: 20px;
    text-align: center;
  }
}
.texto_lista1 .titulo_lista1,
.texto_lista1 .titulo_lista2,
.texto_lista1 .titulo_lista3,
.texto_lista2 .titulo_lista1,
.texto_lista2 .titulo_lista2,
.texto_lista2 .titulo_lista3,
.texto_lista3 .titulo_lista1,
.texto_lista3 .titulo_lista2,
.texto_lista3 .titulo_lista3 {
  font-family: sans-serif;
  font-size: 27px;
}
@media (max-width: 768px) {
  .texto_lista1 .titulo_lista1,
  .texto_lista1 .titulo_lista2,
  .texto_lista1 .titulo_lista3,
  .texto_lista2 .titulo_lista1,
  .texto_lista2 .titulo_lista2,
  .texto_lista2 .titulo_lista3,
  .texto_lista3 .titulo_lista1,
  .texto_lista3 .titulo_lista2,
  .texto_lista3 .titulo_lista3 {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .texto_lista1 .titulo_lista1,
  .texto_lista1 .titulo_lista2,
  .texto_lista1 .titulo_lista3,
  .texto_lista2 .titulo_lista1,
  .texto_lista2 .titulo_lista2,
  .texto_lista2 .titulo_lista3,
  .texto_lista3 .titulo_lista1,
  .texto_lista3 .titulo_lista2,
  .texto_lista3 .titulo_lista3 {
    font-size: 18px;
    text-align: center;
  }
}

.espaciado {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .espaciado {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .espaciado {
    margin-top: 50px;
  }
}
.espaciado .espaciado_2 {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .espaciado .espaciado_2 {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .espaciado .espaciado_2 {
    margin-top: 30px;
  }
}
.espaciado .espaciado_2 .espaciado_3 {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .espaciado .espaciado_2 .espaciado_3 {
    margin-top: 120px;
  }
}
@media (max-width: 480px) {
  .espaciado .espaciado_2 .espaciado_3 {
    margin-top: 70px;
  }
}
.espaciado .espaciado_2 .espaciado_3 .espaciadoo {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .espaciado .espaciado_2 .espaciado_3 .espaciadoo {
    margin-top: 150px;
  }
}
@media (max-width: 480px) {
  .espaciado .espaciado_2 .espaciado_3 .espaciadoo {
    margin-top: 100px;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
  color: black;
  position: relative;
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    padding: 20 px;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 30px;
  }
}
header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: black;
}

.titulo_header {
  text-align: center;
  font-family: sans-serif;
  font-size: 70px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #333;
}
@media (max-width: 480px) {
  .titulo_header {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .titulo_header {
    font-size: 50px;
  }
}

.encabezado_aplicacion {
  white-space: nowrap;
  background-color: rgbs(0, 0, 0);
  width: 100%;
  height: auto;
  padding: 5px 0;
}
@media (max-width: 480px) {
  .encabezado_aplicacion {
    height: auto;
    padding: 5px 0;
    text-align: center;
  }
}

.texto_app_1 {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  color: black;
}
@media (max-width: 480px) {
  .texto_app_1 {
    font-size: 12px;
  }
}

.enlace_app_1 {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
}
@media (max-width: 480px) {
  .enlace_app_1 {
    font-size: 12px;
    margin-top: 10px;
  }
}

.Classnavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black !important;
  height: 50px;
  z-index: 1000;
  padding: 10px 15px;
  align-items: center;
  display: flex;
}
.Classnavbar .navbar-brand {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.Classnavbar .ListaNavbar .NavbarItem {
  color: white;
  margin: 0 15px;
}
.Classnavbar .ListaNavbar .NavbarItem .NavbarLink {
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.Classnavbar .ListaNavbar .NavbarItem .NavbarLink:hover {
  color: yellow;
  text-decoration: underline;
}

.NavbarContainer {
  position: fixed;
}

.Classnavbar-productos {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: black !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
}

.NavbarContainer-productos {
  position: fixed;
}

.Classnavbar-productos .NavbarLink {
  font-size: 16px; /* Ajusta el tamaño para que coincida con `index.html` */
  font-weight: 500; /* Mantiene un peso uniforme */
  color: white;
  padding-top: 10px; /* Reduce espacio superior */
}

.Classnavbar-productos .NavbarItem {
  color: white;
  margin: 0 15px;
}

.ListaNavbar-productos {
  display: flex;
  justify-content: flex-start !important; /* Empuja los enlaces hacia la izquierda */
}

.Classnavbar-productos .collapse.navbar-collapse {
  justify-content: flex-start !important;
}

.card {
  min-height: 450px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
}
.card .card-img-top {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 400px;
  object-fit: contain;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  height: 100%;
}
.card .card-title {
  font-size: 18px;
  font-weight: bold;
}
.card .card-text {
  font-size: 14px;
  color: #666;
}
.card .btn-primary {
  background-color: black;
  border: none;
  font-weight: bold;
}

.footer-productos {
  display: flex;
  justify-content: center; /* Mueve el contenido hacia la izquierda */
  align-items: center;
  width: 100%;
  position: absolute;
  left: 10px;
}

body {
  background-color: #D3D3D3;
  padding-top: 40px;
  margin: 0;
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
