


.texto_lista1,
.texto_lista2,
.texto_lista3{
    font-family:sans-serif;
    font-size: 28px;
        .titulo_lista1,
        .titulo_lista2,
        .titulo_lista3{
    font-family: sans-serif;
    font-size: 27px;
        }
    }



