
@use "../utils/mixins" as mixins;



footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.983);
    position: relative;
        &::after{
        display: block;
        text-align: center;
        content: "© Copyright JewelryStore-2025 Todos Los Derechos Reservados. Defensa de las y los consumidores para reclamos.";
        position: absolute;
        bottom: -10px;
        height:45px;
        left: 0;
        width: 100%;
        background-color: gray ;
        }

        @include mixins.responsive(mobile) {
            flex-direction: column; 
            padding: 20px;
        
            &::after {
            font-size: 12px; 
            bottom: -20px;
            }
        }
        
        @include mixins.responsive(tablet) {
            padding: 50px; 
        }
    }
    




    .texto_footer,
    .texto2_footer{
    font-family: sans-serif;
    font-size: 25px;
    color: ghostwhite;
        @include mixins.responsive(mobile) {
        font-size: 18px; // Reduce el tamaño de las fuentes en móviles
        text-align: center;
        }
    
        @include mixins.responsive(tablet) {
        font-size: 20px; // Ajuste intermedio para tabletas
        }
    }


        .textos_footer{
        display: flex;
        align-items: left;
        justify-content: center;
        gap: 10px;
            @include mixins.responsive(mobile) {
            flex-direction: column; 
            align-items: center;    
            gap: 5px;               
            }
        
            @include mixins.responsive(tablet) {
            gap: 8px; 
            }
        }
    








.imagenes_footer{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    gap: 10px;
        & img{
        width: 55px;
            @include mixins.responsive(mobile) {
            width: 40px; 
        }
    }
}



.copyright{
    display: flex;
    align-items: center;
    color: ghostwhite;

    @include mixins.responsive(mobile){
        flex-direction: column;
        font-size: 12px;
        text-align: center;
        }
        @include mixins.responsive(tablet) {
        font-size: 14px;    
        text-align: left;
        }
    }

